extends ./layout.jade

block head
	title todos
	+useCss("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
	+useCss("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
	+useCss("bundle.css")

block scripts
	+useScript("bundle.js")

block content
	#app.container(v-cloak)
		h1 todos
		header
			input.form-control(
				autofocus
				autocomplete="off"
				placeholder="What needs to be done?"
				v-model="newTodo"
				@keyup.enter="addTodo")
		section
			span #[strong(v-text="remaining")] {{remaining | pluralize 'item'}} left
			label
				input(type="checkbox" v-model="allDone")
				| All Done
			button.btn.btn-default(@click="filter = 'all'"
				:class="{active: filter === 'all'}") All
			button.btn.btn-default(@click="filter = 'active'"
				:class="{active: filter === 'active'}") Active
			button.btn.btn-default(@click="filter = 'completed'"
				:class="{active: filter === 'completed'}") Completed
			button.btn.btn-default.pull-right(@click="removeCompleted") Clear completed
		section
			table.table.table-hover
				tbody
					tr(v-for="todo in filteredTodos"
						:class="{success: todo.completed}"
						style="display: flex; flex-flow: row nowrap;")
						td(@click="toggleTodo(todo)" style="flex: 0 0 auto; cursor: pointer")
							i.fa.fa-lg.fa-fw.fa-check-square-o.text-success(v-if="todo.completed")
							i.fa.fa-lg.fa-fw.fa-square-o.text-muted(v-else)
						td(style="flex: 1 1 auto" @click="editTodo(todo)")
							input(class="edit" type="text" v-if="todo === editedTodo"
								v-model="editedTodoTitle"
								v-todo-focus="todo === editedTodo"
								@blur="doneEdit(todo)"
								@keyup.enter="doneEdit(todo)"
								@keyup.esc="cancelEdit(todo)"
								style="width: 100%")
							span(v-else
								style="word-break: break-all") {{ todo.title }}
						td(style="flex: 0 0 auto")
							input(type="range" list="priorityList"
								min="0" max="2" style="width: 6em; display: inline-block"
								v-model="todo.priority" number)
						td(style="flex: 0 0 auto; min-width: 4em")
							span.label.label-default(v-if="todo.priority === 0") Low
							span.label.label-warning(v-if="todo.priority === 2") High
						td(style="flex: 0 0 auto")
							button.btn.btn-xs.btn-danger(@click="removeTodo(todo)")
								i.fa.fa-lg.fa-times
		.hidden
			datalist#priorityList
				option(value="0")
				option(value="1")
				option(value="2")
