extends ./layout.jade

block head
	title todos
	+useCss("bundle.css")

block scripts
	+useScript("bundle.js")


mixin newTodo
	input.newTodo(
		autofocus
		autocomplete="off"
		placeholder="What needs to be done?"
		v-model="newTodo"
		@keyup.enter="addTodo")

mixin toolbar
	.toolbar.clearfix
		ul.filters
			li
				button(@click="filter = 'all'"
					:class="{active: filter === 'all'}") All
			li
				button(@click="filter = 'active'"
					:class="{active: filter === 'active'}") Active
			li
				button(@click="filter = 'completed'"
					:class="{active: filter === 'completed'}") Completed
		.todoCount
			| #[strong(v-text="remaining")] {{remaining | pluralize 'item'}} left
		.clearComplete
			button(@click="removeCompleted"
				disabled="{{ remaining === todos.length }}") Clear completed

mixin todoList
	datalist#priorityList
		option(value="0")
		option(value="1")
		option(value="2")
	.todoList
		.todo(v-for="todo in filteredTodos"
			:class="{completed: todo.completed}")
			.todo__toggle(@click="toggleTodo(todo)")
				i.fa.fa-lg(:class="{\
						'fa-check-square-o': todo.completed,\
						'fa-square-o': !todo.completed,\
					}")
			.todo__title
				input.todo__title__edit(type="text" v-if="todo === editedTodo"
					v-model="editedTodoTitle"
					v-todo-focus="todo === editedTodo"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)"
					@keyup.esc="cancelEdit(todo)")
				.todo__title__text(@click="editTodo(todo)" v-else
					v-text="todo.title")
			button.todo__delete(@click="removeTodo(todo)")
				i.fa.fa-lg.fa-times

block content
	#app.container(v-cloak)
		h2 ToDO
		+newTodo
		+toolbar
		+todoList
